@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../webfonts/RFDewiExpanded-Semibold.woff2') format('woff2'), url('../webfonts/RFDewiExpanded-Semibold.woff') format('woff'), url('../webfonts/RFDewiExpanded-Semibold.eot') format('eot');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../webfonts/RFDewiExpanded-Black.woff2') format('woff2'), url('../webfonts/RFDewiExpanded-Black.woff') format('woff'), url('../webfonts/RFDewiExpanded-Black.eot') format('eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../webfonts/RFDewiExpanded-Bold.woff2') format('woff2'), url('../webfonts/RFDewiExpanded-Bold.woff') format('woff'), url('../webfonts/RFDewiExpanded-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../webfonts/RFDewiExtended-Black.woff2') format('woff2'), url('../webfonts/RFDewiExtended-Black.woff') format('woff'), url('../webfonts/RFDewiExtended-Black.eot') format('eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('../webfonts/RFDewiExpanded-Ultrabold.woff2') format('woff2'), url('../webfonts/RFDewiExpanded-Ultrabold.woff') format('woff'), url('../webfonts/RFDewiExpanded-Ultrabold.eot') format('eot');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../webfonts/RFDewiExtended-Regular.woff2') format('woff2'), url('../webfonts/RFDewiExtended-Regular.woff') format('woff'), url('../webfonts/RFDewiExtended-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../webfonts/RFDewiExtended-Semibold.woff2') format('woff2'), url('../webfonts/RFDewiExtended-Semibold.woff') format('woff'), url('../webfonts/RFDewiExtended-Semibold.eot') format('eot');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../webfonts/RFDewiExtended-Ultrabold.woff2') format('woff2'), url('../webfonts/RFDewiExtended-Ultrabold.woff') format('woff'), url('../webfonts/RFDewiExtended-Ultrabold.eot') format('eot');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('../webfonts/RFDewiExtended-Bold.woff2') format('woff2'), url('../webfonts/RFDewiExtended-Bold.woff') format('woff'), url('../webfonts/RFDewiExtended-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
