@{
	ViewData["Title"] = "XWEAR";
}

<section class="welcome">
	<div class="welcome__container welcome__container--big">
		<div class="welcome__slider swiper">
			<div class="welcome__slider-wrapper swiper-wrapper">
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--clothes">
						<div class="welcome__block-text">
							<h2 class="welcome__title title">Широкий ассортимент Одежды</h2>
							<p class="welcome__desc desc">
								Одежда от известные брендов у нас в каталоге. Только качественные вещи.
							</p>
							<a href="/catalog" class="welcome__link link">
								Перейти в каталог <img src="~/img/icons/arrow-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--shoes">
						<div class="welcome__block-text">
							<h2 class="welcome__title title">Новинки уже ждут вас</h2>
							<p class="welcome__desc desc">
								Обувь от известные брендов у нас в каталоге. Только качественные товары.
							</p>
							<a href="/catalog" class="welcome__link link">
								Перейти в каталог <img src="~/img/icons/arrow-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--accessory">
						<div class="welcome__block-text">
							<h2 class="welcome__title title">Широкий ассортимент Одежды</h2>
							<p class="welcome__desc desc">
								Одежда от известные брендов у нас в каталоге. Только качественные вещи.
							</p>
							<a href="/catalog" class="welcome__link link">
								Перейти в каталог <img src="~/img/icons/arrow-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-btns welcome__buttons">
				<div class="swiper-button-prev">
					<button class="welcome__btn welcome__btn-left">
						<img class="welcome__arrow-left" src="~/img/icons/arrow-welcome-slider.svg" alt="">
					</button>
				</div>
				<div class="swiper-button-next">
					<button class="welcome__btn welcome__btn-right">
						<img class="welcome__arrow-right" src="~/img/icons/arrow-welcome-slider.svg" alt="">
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="online-store">
	<div class="online-store__container online-store__container--small">
		<div class="online-store__content">
			<h3 class="online-store__title">О интернет-магазине xwear</h3>
			<p class="online-store__desc desc">
				Команда XWEAR предоставляет услугу доставки только оригинальных товаров c
				крупнейшего китайского маркетплейса Poizon, чтобы наши клиенты экономили более 40% на каждой покупке.
			</p>
			<p class="online-store__desc desc">
				Работаем без посредников, благодаря чему можем предоставлять лучшую цену.
				Быстрая, бесплатная доставка.
			</p>
			<p class="online-store__desc desc">
				Сайт, на котором можно будет удобно оформить покупку, не скачивая китайское
				мобильное приложение Poizon, с удобной фильтрацией огромного количества товаров, а так же с возможностью
				сразу увидеть окончательную цену товара.
			</p>
		</div>
		<div class="online-store__info">
			<div class="online-store__block">
				<img src="~/img/icons/box.svg" alt="" class="online-store__img">
				<div class="online-store__block-content">
					<h4 class="online-store__block-title"><span>Бесплатная</span> доставка до России</h4>
					<p class="online-store__block-desc">Доставим вам заказ абсолютно бесплатно до России</p>
				</div>
			</div>
			<div class="online-store__block">
				<img src="~/img/icons/client.svg" alt="" class="online-store__img">
				<div class="online-store__block-content">
					<h4 class="online-store__block-title"><span class="test">мы Работаем</span> без посредников</h4>
					<p class="online-store__block-desc">Между нами и клиентом нет третьего лишнего</p>
				</div>
			</div>
			<div class="online-store__block">
				<img src="~/img/icons/easy.svg" alt="" class="online-store__img">
				<div class="online-store__block-content">
					<h4 class="online-store__block-title"><span>простота</span> в заказе и использовании</h4>
					<p class="online-store__block-desc">Для заказа с Poizon не нужно никаких приложений</p>
				</div>
			</div>
		</div>
	</div>
</section>