@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div>

    <section class="login">
        <div class="login__container login__container--small">
            <form id="account" method="post" class="login__form">
                <h1 class="login__title">Войти в аккаунт</h1>

                <input asp-for="Input.Email" class="login__email email" autocomplete="username" aria-required="true" placeholder="Почта">
                <input asp-for="Input.Password" class="login__password password" autocomplete="current-password" aria-required="true" placeholder="Пароль">
                <input id="login-submit" type="submit" class="login__button button" value="Войти">
            </form>
        </div>
    </section>

    <!-- <section>
        <h3>Use another service to log in.</h3>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                        about setting up this ASP.NET application to support logging in via external services</a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section> -->
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
