@{
	ViewData["Title"] = "Каталог";
}

<section class="welcome">
	<div class="welcome__container welcome__container--big">
		<div class="welcome__slider swiper">
			<div class="welcome__slider-wrapper swiper-wrapper">
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--clothes">
						<div class="welcome__block-text">
							<h2 class="welcome__title">Широкий ассортимент Одежды</h2>
							<p class="welcome__desc">Одежда от известные брендов у нас в каталоге. Только качественные вещи.</p>
							<a href="#" class="welcome__link">
								Перейти в каталог <img src="~/img/icons/arrow-welcome-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--shoes">
						<div class="welcome__block-text">
							<h2 class="welcome__title">Новинки уже ждут вас</h2>
							<p class="welcome__desc">Обувь от известные брендов у нас в каталоге. Только качественные товары.</p>
							<a href="#" class="welcome__link">
								Перейти в каталог <img src="~/img/icons/arrow-welcome-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="welcome__block welcome__block--accessory">
						<div class="welcome__block-text">
							<h2 class="welcome__title">Широкий ассортимент Одежды</h2>
							<p class="welcome__desc">Одежда от известные брендов у нас в каталоге. Только качественные вещи.</p>
							<a href="#" class="welcome__link">
								Перейти в каталог <img src="~/img/icons/arrow-welcome-right.svg"
							   alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-btns welcome__buttons">
				<div class="swiper-button-prev">
					<button class="welcome__btn welcome__btn-left">
						<img class="welcome__arrow-left" src="~/img/icons/arrow-welcome-slider.svg" alt="">
					</button>
				</div>
				<div class="swiper-button-next">
					<button class="welcome__btn welcome__btn-right">
						<img class="welcome__arrow-right" src="~/img/icons/arrow-welcome-slider.svg" alt="">
					</button>
				</div>
			</div>
		</div>
	</div>
</section>