@model IEnumerable<Product>
@{
	ViewData["Title"] = "Каталог";
}

<section class="catalog">
    <div class="catalog__container catalog__container--small">
        <aside class="catalog__filter">
            тут должен быть фильтр
        </aside>
        <div class="catalog__content">
            @foreach(var product in Model)
            {
                <div class="catalog__card">
                    @if (string.IsNullOrEmpty(product.Image))
                    {
                        <img src="/img/catalog/no-image.jpg" alt="" class="catalog__img" />
                    }
                    else
                    {
                        <img src="/img/catalog/@product.Image" alt="" class="catalog__img" />
                    }
                    <h2 class="catalog__card-name">@product.ProductName</h2>
                    <p class="catalog__card-price">от @product.Price₽</p>
                    <a href="" class="link catalog__link">В корзину</a>
                </div>
       
            }
        </div>
    </div>
</section>