@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="header__log">
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("Admin"))
        {
            <p>В режиме администратора</p>
        }
        else

        {
            <div class="header__icons">
                <a href="/cart"><img src="./img/icons/basket.svg" alt="cart" class="header__basket"></a>
                <a href="/cart"><img src="./img/icons/basket.svg" alt="cart" class="header__basket"></a>
        </div>
        }
    }
    else
    {

        <li class="header__log-item">
            <a class="header__log-link" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
        </li>
        <span></span>
        <li class="header__log-item">
            <a class="header__log-link" asp-area="Identity" asp-page="/Account/Login">Войти в аккаунт</a>
        </li>
    }
</ul>
